<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/scss/style.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script>
</script>


</head>
<body>
<div class="d-flex flex-grow-1 flex-column bg-dark" style="height: 100%">
    @if (@ViewData["Title"].ToString() != "Log in" && @ViewData["Title"].ToString() != "Register")
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow bg-dark">
                <div class="container d-flex">
                    <div class="d-flex flex-grow-1">
                        <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">BudgetPlanner</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <div class="d-flex flex-grow-1 w-100 justify-content-end">
                            <partial name="_LoginPartial"/>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    }

    <div class="container d-flex flex-grow-1 flex-column">
        <div class="d-flex flex-grow-1">
            @if (@ViewData["Title"].ToString() != "Log in" && @ViewData["Title"].ToString() != "Register")
            {
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark border-end" style="width: 240px;">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-link-item text-white" asp-area="" asp-controller="Home" asp-action="Index">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#home"/>
                                </svg>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-item text-white" asp-area="" asp-controller="Transactions" asp-action="Index">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#table"/>
                                </svg>
                                Transactions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-item text-white" asp-area="" asp-controller="Budget" asp-action="Index">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#grid"/>
                                </svg>
                                Savings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="manage" class="nav-link nav-link-item text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#people-circle"/>
                                </svg>
                                Profile
                            </a>
                        </li>
                    </ul>
                </div>
            }
            <main class="d-flex flex-grow-1 p-4">
                @RenderBody()
            </main>
        </div>
    </div>

</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/Scripts/Plots/plots.js" asp-append-version="true"></script>
<script src="~/Scripts/homePage.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>