@model IEnumerable<PersonalFinanceTracker.Models.Transaction>

@{
    ViewData["Title"] = "Transactions";

    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
    }
}
<div class="d-flex flex-column align-items-start">
    <h1>Transactions</h1>
    <button class="btn">
        <a asp-action="Create">Create New</a>
    </button>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="cursor-pointer" onclick="location.href = '@Url.Action("Edit", "Transactions", new { id = item.Id })'">
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <a asp-action="Delete" asp-route-id="@item.Id"><object type="image/svg+xml" data="~/icons/delete.svg"/></a>
            </tr>
        }
        </tbody>
    </table>
    <div class="container">
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">
                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                        <a class="page-link @(pge == pager.CurrentPage ? "" : "bg-dark")" asp-controller="Transactions" asp-action="Index" asp-route-pg="@pge">
                            @pge
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
</div>